.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}
.menuLink{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    color: var(--text-over-primary);
    background-color: var(--primary);
}
.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}
.menuLink:hover{
    filter: brightness(80%);

}

