.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary);
}

.heading button{
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
    color: var(--primary);

}